{block content}
<header class="d-flex align-items-center pb-3 mb-3 border-bottom">
    <a n:href="RailNews:" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Quick news</span>
    </a>
</header>

<main>
    {control posts}
</main>
